---
title: Release Notes for Spring Cloud&reg; Services on Pivotal Cloud Foundry
owner: Spring Cloud Services
---

<html class="list-style-none"></html>

<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
     }
</style>

Release notes for [Spring Cloud Services for Pivotal Cloud Foundry](https://network.pivotal.io/products/p-spring-cloud-services)

## <a id="2-0-0-migrating-from-1-5-x"></a>Migrating from 1.5.x

For each client app, you must:

* Update the build file to use the new versions of the Spring Cloud Services client dependencies (see [Client Dependencies](./common/client-dependencies.html))

## <a id="known-issues"></a>Known Issues

### Config Server from Spring Cloud Services 1.5.x using encryption key must be updated

A Config Server service instance created in Spring Cloud Services 1.5.x using a key for encryption does not work when upgraded to Spring Cloud Services 2.0.x. Before upgrading the Spring Cloud Services product to version 2.0.x, you must update any such Config Server service instance, giving the encryption key with all newlines escaped. See [Spring Cloud Services 1.5.x Config Server using encryption key cannot be upgraded to 2.0.x](./product-troubleshooting.html#1-5-config-server-using-encryption) in the [Troubleshooting Spring Cloud&reg; Services for Pivotal Cloud Foundry](./product-troubleshooting.html) topic.

### Impacted versions < 2.0.6: Issues using Spring Cloud Services with MySQL for PCF TLS configuration

Spring Cloud Services uses the MariaDB Java client for connecting it's service broker to a MySQL for PCF database instance. If your Spring Cloud Services installation uses MySQL for PCF and is being updated or installed with [TLS enabled connections](https://docs.pivotal.io/p-mysql/2-5/prepare-tls.html) by default, the service broker will not be able to communicate with the database.

There is an issue with the MariaDB Java client not trusting the certificates loaded into the security provider:

https://jira.mariadb.org/browse/CONJ-670

We are working with the MariaDB Java client team to get this prioritized and resolved.

To resolve this issue:

Upgrade MySQL for PCF to version `2.5.3` since this version has a workaround for the MariaDB Java client issue.

### Impacted versions 2.0.0-2.0.2: Existing Config Server service instances created prior to SCS 2.0.x upgrade show false error on their dashboard user interfaces

An issue has been found in SCS when upgrading the tile from a `1.5.x` version up to `2.0.x` version. After upgrading, the dashboards for all existing Config Server service instances created before the upgrade will show the following error:

<img src="./images/cs-dashboard-false-error.png" />

The running Config Server service instance is not affected by the SCS tile upgrade to `2.0.x`. This error is only shown on the Config Server dashboard UI.

To resolve this issue, there are a few options:

* Upgrade to version `2.0.3+`. 

* **Upgrade Config Server service instance** - If the Config Server service instance is upgraded then the error will go away. This can be done by executing the following command on the service instance:

```
$ cf update-service [config-server-si-name] -c '{"upgrade": true, "force": true}'
```

If your application that is bound to the Config Server service instance is using `spring-cloud-services-dependencies` version `1.6.0+` then this will have no impact on it's behavior since it is backward compatible. We do recommend upgrading to version `2.0.x+` of `spring-cloud-services-dependencies` in the near future and take advantage of Spring Boot 2 capabilities in your applications. Please see the [docs for client dependencies](./common/client-dependencies.html) for more information.

* **Use SCS CF CLI plugin instead of Config Server dashboard to assess it's health** - Rather than going to the Config Server dashboard UI to verify it's health, you can use the SCS CF CLI plugin instead. To install the SCS CF CLI plugin, execute the following command:

```
$ cf install-plugin -r CF-Community "spring-cloud-services"
```

Once the plugin is installed, you are able to view the same information that would be provided on the Config Server dashboard, and a bit more detail, using the following command to view the health for the backing application instances:

```
$ cf scs-view [config-server-si-name]
Viewing service instance [config-server-si-name] in org ****...
OK

backing app name: config-****
requested state:  started
instances:        1/1
usage:            1G x 1 instances
routes:           config-****.[apps.domain]
last uploaded:    Tue 23 Oct 09:51:35 PDT 2018
stack:            cflinuxfs2
buildpack:        client-certificate-mapper=1.8.0_RELEASE container-security-provider=1.14.0_RELEASE java-buildpack=v4.15-offline-https://github.com/cloudfound
                  ry/java-buildpack.git#553f2c6 java-main java-opts java-security jvmkill-agent=1.16.0_RELEASE open-jdk-...

     state     since                  cpu    memory       disk           details
#0   running   2018-10-23T16:52:48Z   0.2%   361.3M of 1G 160.3M of 1G   
```

And then execute the following command to see the configuration used for the Config Server service instance:

```
$ cf scs-config cook-config-server
{"count":1,"git":{"label":"master","uri":"https://github.com/spring-cloud-services-samples/cook-config"}}
```

* **Ignore dashboard error until tile is upgraded to a future patch release with fix** - It is an option to ignore the error on the Config Server service instance dashboard until the fix is deployed. We are working on the fix already and hope to have it out within weeks.

## <a id="2-0-7"></a>2.0.7

**Release Date: 5th March 2019**

This release is based on the Ubuntu Xenial 97.x stemcell line.

Enhancements included in this release:

* Upgraded to [Spring Cloud Finchley.SR3](https://spring.io/blog/2019/02/26/spring-cloud-finchley-sr3-now-available).

## <a id="2-0-6"></a>2.0.6

**Release Date: 15th February 2019**

This release is based on the Ubuntu Xenial 97.x stemcell line.

Enhancements included in this release:

* Upgraded MariaDB Java client to version `2.4.0` that resolves [issue with MySQL for PCF TLS enabled service instances](https://jira.mariadb.org/browse/CONJ-670).

## <a id="2-0-5"></a>2.0.5

**Release Date: 21st December 2018**

This release is based on the Ubuntu Xenial 97.x stemcell line.

Enhancements included in this release:

* Added support for installation of `2.0.5+` on PCF `2.4+`. All previous versions are not recommended for installation on PCF `2.4+`.
* **IMPORTANT**: PCF `2.4` has released with a new CredHub API and is NOT supported by Spring Cloud Services. Please uncheck `Secure service instance credentials` in the `Spring Cloud Services` section in the [tile configuration](./tile-configuration.html#secure-service-instance-credentials-with-credhub) and apply changes before upgrading to PCF `2.4+`.

## <a id="2-0-4"></a>2.0.4

**Release Date: 19th November 2018**

This release is based on the Ubuntu Xenial 97.x stemcell line.

Enhancements included in this release:

* Improved Spring Cloud Services service broker support for database provided by the Microsoft Azure service broker.
* Increased Spring Cloud Services lifecycle errand VM size, for better compatibility with security scanning tools.
* Upgraded version of Spring Security OAuth 2 to resolve a vulnerability present in version 2.3.4.

Fixes included in this release:

* Fixed an issue where links to service instance dashboards were not being properly redirected to the dashboards.

## <a id="2-0-3"></a>2.0.3

**Release Date: 19th November 2018**

This release is based on the Ubuntu Trusty 3468.x stemcell line.

Enhancements included in this release:

* Improved Spring Cloud Services service broker support for database provided by the Microsoft Azure service broker.
* Increased Spring Cloud Services lifecycle errand VM size, for better compatibility with security scanning tools.
* Upgraded version of Spring Security OAuth 2 to resolve a vulnerability present in version 2.3.4.

Fixes included in this release:

* Fixed an issue where links to service instance dashboards were not being properly redirected to the dashboards.

## <a id="2-0-2"></a>2.0.2

**Release Date: 11th September 2018**

Enhancements included in this release:

* Upgrade stemcell to Xenial 97.*

## <a id="2-0-1"></a>2.0.1

**Release Date: 21st August 2018**

Enhancements included in this release:

* Added support for the Spring Cloud Config Git backend's `refreshRate` property to Config Server. For more information, see the Config Server documentation on [Configuring with Git](./common/config-server/configuring-with-git.html).

Fixes included in this release:

* Resolved an issue that could prevent the "Deploy Service Broker" errand of the Spring Cloud Services tile from completing sucessfully in a Cloud Foundry foundation with a large number of spaces.

## <a id="2-0-0"></a>2.0.0

**Release Date: 10th August 2018**

Enhancements included in this release:

* The Spring Cloud Services broker has been upgraded to Spring Boot 2.0.4 and Spring Cloud Finchley.RELEASE.
* Service instances are now based on Spring Cloud Finchley.RELEASE, and client apps can use Spring Boot 1.5.x–2.0.4 and Spring Cloud Edgware.x–Finchley.RELEASE. For more information about client app dependencies, see [Client Dependencies](./common/client-dependencies.html).
* Operators can now configure a custom domain for the Spring Cloud Services service broker to use in creating service instance backing app routes. For more information, see [Set Custom Domain for Service Instances](./tile-configuration.html#set-custom-domain-for-service-instances).
