---
title: Release Notes for Spring Cloud&reg; Services on Pivotal Cloud Foundry
owner: Spring Cloud Services
---

<html class="list-style-none"></html>

<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
     }
</style>

Release notes for [Spring Cloud Services for Pivotal Cloud Foundry](https://network.pivotal.io/products/p-spring-cloud-services)

## <a id="3-0-0"></a>3.0.0

**Release Date: 1st March 2019**

Enhancements included in this release:

* Enhancement 1
* Enhancement 2
