<a id="product-snapshot"></a>
## Product Snapshot

| Element                                                             | Details                  |
|---------------------------------------------------------------------|--------------------------|
| Version                                                             | 1.5.6                    | 
| Release Date                                                        | 2 July 2018              |
| Software Component Version                                          | Spring Cloud Edgware.SR3 |
| Compatible MySQL for PCF v1 Version                                 | 1.10.x                   |
| Compatible MySQL for PCF v2 Version                                 | 2.0.x--2.3.x             |
| Compatible RabbitMQ for PCF Version                                 | 1.10.0--1.13.x           |
| Compatible Ops Manager Version(s)                                   | 2.0.x--2.2.x, 1.12.x     | 
| Compatible Elastic Runtime / Pivotal Application Service Version(s) | 2.0.x--2.2.x, 1.12.x     |
| Supported IaaS                                                      | All supported by PCF     |
