<a id="product-snapshot"></a>
## Product Snapshot

| Element                                                             | Details                       |
|---------------------------------------------------------------------|-------------------------------|
| Version                                                             | 2.0.0                         |
| Release Date                                                        | 17 July 2018                  |
| Software Component Version                                          | Spring Cloud Finchley.RELEASE |
| Compatible Pivotal MySQL v1 Version                                 | 1.10.x                        |
| Compatible Pivotal MySQL v2 Version                                 | 2.0.x--2.1.x                  |
| Compatible RabbitMQ for PCF Version                                 | 1.10.0--1.11.x                |
| Compatible Ops Manager Version(s)                                   | 2.2.x, 2.1.x, 2.0.x, 1.12.x   |
| Compatible Elastic Runtime / Pivotal Application Service Version(s) | 2.2.x, 2.1.x, 2.0.x, 1.12.x   |
| Supported IaaS                                                      | All supported by PCF          |
