<a id="product-snapshot"></a>
## Product Snapshot

| Element                                            | Details                                   |
|----------------------------------------------------|-------------------------------------------|
| Version                                            | 2.0.2                                     |
| Release Date                                       | 11 September 2018                         |
| Software Component Version                         | Spring Cloud Finchley.RELEASE             |
| Compatible MySQL for PCF v1 Version                | 1.10.x                                    |
| Compatible MySQL for PCF v2 Version                | 2.0.x--2.3.x                              |
| Compatible RabbitMQ for PCF Version                | 1.10.0--1.13.x                            |
| Compatible Ops Manager Version(s)                  | 2.1.15 and later, v2.2.2 and later, 2.3.x |
| Compatible Pivotal Application Service Version(s)  | 2.1.x--2.3.x                              |
| Supported IaaS                                     | All supported by PCF                      |
