<a id="product-snapshot"></a>
## Product Snapshot

| Element                                            | Details                                          |
|----------------------------------------------------|--------------------------------------------------|
| Version                                            | 2.0.5                                            |
| Release Date                                       | 21 December 2018                                 |
| Software Component Version                         | Spring Cloud Finchley.SR2                        |
| Compatible MySQL for PCF Version                   | 2.0.x--2.3.x                                     |
| Compatible RabbitMQ for PCF Version                | 1.10.0--1.13.x                                   |
| Compatible Ops Manager Version(s)                  | 2.1.15 and later, v2.2.2 and later, 2.3.x, 2.4.x |
| Compatible Pivotal Application Service Version(s)  | 2.1.x--2.4.x                                     |
| Supported IaaS                                     | All supported by PCF                             |
